* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;

}


header {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center
}

.logo {
    width: 100px;
}


.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px
}

.menu {
    flex:1;
    display:flex;
    justify-content: flex-end
}

.menu ul, .menu a {
    list-style:none
}   

.menu ul {
    display: flex
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600px;
    text-decoration: none;
    display: block;
    padding-left: 7px;
    padding-right: 7px;
    height: 100px;
    display:flex;
    align-items: center
}
.menumobile {
    display:none
}

.menu a:hover, .active {
    border-bottom: 4px solid #b28756;
    color: #b28756
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slider {
    width: 100vw;
    height:100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8)
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:center;
    color: #fff;
    justify-content:center
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px
}

.banner h1 span {
    color: #B28756
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px
}
.banner .button, .button {
    display: inline-block;
    background-color:#B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600px;
    margin-top: 50px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    transition: 1s;
}

.banner .button:hover, .projects .button:hover{
    background-color: #806343
}

.banner .sliderpointers {
    width: 100vw;
    height: 20px;
    position:absolute;
    margin-top: -50px;
    display:flex;
    justify-content:center;
    align-items:center
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #806343;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer
}

.banner .pointer.active {
    background-color: #806343
}

.default {
    padding-top: 50px;
    padding-bottom: 50px
}

.default .sectiontitle, .default .sectiondesc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .sectiontitle {
    font-size: 30px;
}

.default .sectiondesc {
    font-size: 15px;
    color: rgb(148, 144, 144);
    margin-top: 13px;
    margin-bottom: 40px
}

.default .sectionbody {
    max-width: 1140px;
    margin:auto;
}

.default.ligth {
    background-color: #F7F7F7;
}
.default.ligth .sectiontitle, .default.ligth .sectionbody {
    color:#000;
}

.default.dark {
    background-color: #000;
}
.default.dark .sectiontitle,.default.dark .sectionbody {
    color:#fff;
}


























.aboutus {
    display:flex
}

.aboutus-left {
    flex: 1;
}

.aboutus-right {
    width: 500px;
    margin-left: 15px
}

.aboutus-right img {
    width: 520px;
    text-align: center;
    box-shadow: 0px 8px 10px #333
}

.aboutus-left p {
    font-size: 15px;
    line-height: 28px;
}

.services {
    display:flex;
}

.service {
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px
}

.service:first-child {
    border-left: 1px solid #333 
}

.service img {
    width: 65px;
    height: 65px
} 

.service h4 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px
}

.service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999
}

.projects {
    display:flex;
    flex-direction: column;
    align-items: center
}

.filter {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px
}

.filter ul, .filter li {
    list-style:none
}

.filter li {
    display:inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee
}
.filter li:hover, .filter .active {
    border-bottom: 3px solid #b28756
}


.filter li:first-child {
    border-left: 0px
}

.photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

.photo {
    width: 280px
}

.photo .photoarea {
    margin: 10px;
    width: 260px;
    height: 160px
}

.photo .photoarea img {
    width: inherit;
    height: inherit;
}

.photo .photoarea .photoinfo {
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: inherit;
    height: inherit;
    display:none;
    justify-content:center;
    align-items:center;
    color: #fff;
    flex-direction: column;

}

.photo .photoarea .photoinfo h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.photoarea:hover .photoinfo{
    display:flex;
}

.imgteam {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding:0
}

.section-team-area {
    background-color: rgba(0,0,0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin:auto
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slider {
    width: 280px;
    height:100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 30px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:center;
    color: #000;
    justify-content:center;
    padding: 30px
}

.section-team-area .sliderpointers, .sliderpointers {
    margin-top: 30px;
    height: 20px;
    display:flex;
    justify-content:center;
    align-items:center
}

.section-team-area .pointer, .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #806343;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer
}

.section-team-area .pointer.active, .pointer.active {
    background-color: #806343
}


.avatar {
    width: 150px;
    height: auto;
}

.teamname {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px
}

.teamrole {
    font-size: 14px;
    color: #999;
    margin-top: 5px
}

.social {
    display: flex;
    margin-top: 20px;
}

.social a{
    display:inline-flex;
    justify-content:center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px
}

.social a:hover {
    background-color: #b28756;
}

.sectionbody .clients {
    display:flex;
    flex-direction: column;
    text-align: center
}

.clients .sliderarea img {
    width: 120px;
    height: 120px;
}

.clients .clientname {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px
}

.clients .clientrole {
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px
}

.clients .quote img{
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px
}

.clients .description {
    margin-right: 300px;
    margin-left: 300px
}

.default.ligth.grey {
    background-color: rgb(243, 243, 243);
}

.sponsors {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 150px;
    background-color:#fff
}

.sponsors img{
    width:70px;
    height:35px;
    margin-right: 70px
}

.prices {
    max-width: 900px;
    margin:auto;
}

.cardscontainer {
    display:flex;   
    width: 950px;
    height: 100%
}

.cardscontainer .card {
    width: 200px;
    height:100px;
    min-height: 300px;
    display: inline-block;
    margin-right: 30px;
    background-color: #fff
}

.default.ligth.grey {
    background-color:rgb(228, 222, 222)
}

.card {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 30px
}

.card .cardtitle {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.card .cardprice {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-top: 13px
}

.card .cardmonth {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #ccc
}

.card .carddescription {
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #696666
}

.card .cardbutton a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 10px
}

.card .cardbutton a:hover {
    background-color: #b28756
}



.premium {
    margin-top:80px;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 50px
}

.book, .information {
    width: 50%
}

.information {
    display:flex;
    flex-direction: column;
    justify-content: center
}

.book {
    margin-left: 100px
}

.information  h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px
}

.information p {
    line-height: 25px;
}

.center  {
    text-align: center;
}

.numbers {
    display: flex
}

.number {
    flex:1;
    text-align: center;
    padding: 15px
}

.number h1 {
    font-weight: bold;
    font-size: 40px;
    color:#b28756;
}

.number h2 {
    text-transform: uppercase;
    margin-bottom: 10px
}

.number h3 {
    font-size: 12px;
    text-align: justify;
}

.margin {
    margin-top: 30px
}

.socialmedias {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 20px;

}

.socials {
    display: flex;
    margin-right: 20px;
}

.socials img{
    margin-right: 10px;
}

.tlfgp {
    display: flex;
}

.tlfgp div {
    margin-right: 10px;
    margin-left: 10px
}

.socialstwitter,.socialslinkeding, .socialsfacebook, .socialsgoogleplus, .socialspinterest {
    display:flex
}

.socialstwitter p, .socialslinkeding p, .socialsfacebook p, .socialsgoogleplus p, .socialspinterest p {
    display:flex;
    align-items: center;
    justify-content:center;
    margin-left: 5px;
    color: rgb(119, 117, 117);
    font-size: 12px
}

.socialstwitter img{
    background-color: #1DA1F2;
    padding: 5px;
    border-radius: 15px;
}

.socialslinkeding img {
    background-color: #2867B2;
    border-radius: 15px;
    padding: 5px
}

.socialsfacebook img {
    background-color: #4267B2;
    border-radius: 20px;
    padding: 5px
}

.socialsgoogleplus img {
    background-color: red;
    border-radius: 15px;
    padding: 5px
}

.socialspinterest img {
    background-color: red;
    border-radius: 15px;
    padding: 5px
}

.test {
    display:flex;
    justify-content:center;
    align-content: center;
}

.input12  input{
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    background-color: transparent
} 

.input12 input:last-child {
    margin-left: 50px;
}

.input12 .subject {
    display: flex;
    width: 100%
}

.input12 .message {
    margin-top: 50px;
    width: 100%
}

.map {
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position:center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.maparea {
    width: 100vw;
    max-width: 1140px;
    margin:auto
}   

.mapinfo {
    width: 50%;
    padding: 30px;
    background-color:#fff;
    color: #000
}

.infoitem {
    display:flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px
}

.infoitemimg {
    width: 30px;
    height: 30px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding: 5px;
    background-color:#999;
    border-radius:15px;
    margin-right: 10px
}

.infoitemimg img {
    width: 15px;
    height:auto
}

.final {
    display:flex;
}

.final div {
    flex: 1;
    height: auto
}

.finaltext {
    line-height: 20px;
    padding: 15px;
    text-align: justify;
    color: #ddd
}
.finalmedias {
    padding: 15px;
}

.finalmedias .finalintern {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 200px
}

.finalsubscribe {
    width: 100%;
    height: auto;
    padding: 15px
}

.finalitems label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 210px;    
    background-color: rgb(68, 64, 64);
    border-radius: 10px;


}

.finalitems label input {
    border:none;
    border-bottom: 1px solid #999;
    padding: 15px;
    background-color: transparent;
    font-size: 15px
}

.finalitems label a {
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #ccc;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
    background-color: #b28756;
    color:white
}

.finalmedias {
    display:flex
}

.finalmedias a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgb(63, 61, 61);
    border-radius: 13px;
    margin-right: 10px;
}
.finalmedias a:hover {
    background-color: #b28756
} 

@media (min-width: 701px) and (max-width:1192px){
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0, 0.91);
        width: 70vw;
        height: calc(100vw - 100px);
        top: 100px;
        right: 0
    }
    .menu ul {
        flex-direction: column;
    }
    .menu  a {
        font-weight: bold;
        height: 70px;
        font-size: 25px;
        margin-left: 50px;
        border: 0
    }

    .menu ul a.active {
        border: 0;
        color: #b28956;

    }

    .menumobile {
        display:block;
        width: 40px;
        margin-right: 30px;
    }
    .logo {
        margin-left: 30px
    }

    .aboutus {
        flex-direction: column;
    }
    .aboutus-left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px
    }
    .aboutus-right {
        width: auto;
        text-align: center;
    }
    .services {
        flex-wrap: wrap;
    } 
    .service {
        min-width: 50%
    }
    .service:first-child {
        border-left: 0
    }
    .section-team {
        max-width: 580px
    }
    .sponsors img {
        margin-right: 30px;
    }
    .cardscontainer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardscontainer .card {
        min-width: 40%;
        margin-bottom: 30px;
    }
    .cardscontainer {
        width: auto;
        justify-content: center;
    }
    .premium {
        flex-direction: column;
        align-items: center;
    }
    .information {
        align-items: center;
        margin-top: 30px;
    }
    .information div {
        text-align: center;
    }
    .numbers {
        flex-wrap: wrap;
    }
    .number {
        min-width: 50%;
    }
    .margin {
        margin-top: 0px
    }
    .final {
        flex-direction: column;
    } 
    .finalmedias .finalintern {
        text-align: center;
    }
    .final div p{
        justify-content: center;
        margin: 30px
    }
    .final div p{
        justify-content: center;
        margin: 30px
    }
    .finalitems {
        margin:50px
    }
    .finalmedias {
        justify-content: center;
    }
}




@media (max-width:700px){
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0, 0.91);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0
    }
    .menu ul {
        flex-direction: column;
    }
    .menu  a {
        font-weight: bold;
        height: 50px;
        font-size: 17px;
        margin-left: 30px;
        border: 0
    }

    .menu ul a.active {
        border: 0;
        color: #b28956;

    }

    .menumobile {
        display:block;
        width: 40px;
        margin-right: 30px;
    }
    .banner h1 {
        font-size: 35px
    }
    .banner h2 {
        font-size: 20px
    }
    .logo {
        margin-left: 30px
    }

    .aboutus {
        flex-direction: column;
    }
    .aboutus-left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px
    }
    .aboutus-right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    .aboutus-right img {
        width: 100%
    }
    .services {
        flex-wrap: wrap;
    } 
    .service {
        min-width: 100%
    }
    .filter {
        margin-right: 30px;
        margin-left: 30px;
    }
    .service:first-child {
        border-left: 0
    }
    .section-team {
        max-width: 280px
    }
    .sponsors img {
        margin-right: 30px;
    }
    .sponsors .img {
        text-align: center;
    }
    .book {
        margin-left: 0px;
        margin-right: 30px;
    }
    .book img {
        width: 200px
    }
    .clients .description {
        margin: 0px
    }
    .cardscontainer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardscontainer .card {
        min-width: 40%;
        margin-bottom: 30px;
    }
    .cardscontainer {
        width: auto;
        justify-content: center;
    }
    .premium {
        flex-direction: column;
        align-items: center;
    }
    .information {
        align-items: center;
        margin-top: 30px;
    }
    .information div {
        text-align: center;
    }
    .information p {
        line-height: 15px;
    }
    .numbers {
        flex-wrap: wrap;
    }
    .number {
        min-width: 100%;
    }
    .margin {
        margin-top: 0px
    }
    .socialmedias {
        flex-direction: column;
    }
    .socials {
        margin-bottom: 30px
    }
    .input12 .subject {
        width: 300px
    }
    .input12 .message {
        margin-top: 20px;
        width: 300px
    }
    .map  {
        padding: 0px;
        padding-bottom: 250px;
    }
    .mapinfo {
        width: 100%;
    }






    .final {
        flex-direction: column;
    } 
    .finalmedias .finalintern {
        text-align: center;
    }
    .final div p{
        justify-content: center;
        margin: 30px
    }
    .final div p{
        justify-content: center;
        margin: 30px
    }
    .finalitems {
        margin:50px
    }
    .finalmedias {
        justify-content: center;
    }
}
